@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Montserrat:wght@400;500;700;900&family=Mrs+Saint+Delafield&family=Oswald:wght@400;500;700&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #EDEAFF;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fff;
}